* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

.calculator {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #313131;
    font-size: 50px;
}

.wrap {
    margin: 0 auto;
    width: 360px;
    height: 660px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.result,
.calc-str {
    margin: 10px 0;
    text-align: right;
    font-size: 42px;
    line-height: 120%;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

.button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    line-height: 75px;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
}

.number {
    background-color: #d4d4d4;
}

.operation {
    /* background-color: #ff7b00; */
    background-color: #6f5fcf;
}

.reset {
    background-color: #ff7b00;
}

/* Slider Block */

.slider {
    margin: 50px auto;
    /* padding: 50px 0; */
}

.slider-wrap {
    width: 780px;
    height: 520px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 15px;
}

.slids {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.img-slid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.buttons-slid {
    margin: 20px auto;
    width: 760px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {

    background-image: url(./img/arrow.svg);
}

.right {
    background-image: url(./img/arrow.svg);
    rotate: 180deg;
}

.left,
.right {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}